In [14]:
import pandas as pd
import numpy as np

In [15]:
ONEIL = pd.read_csv('Synergy_ONeil.csv')

In [16]:
drug_name = np.concatenate((ONEIL['drug_row'].unique(),ONEIL['drug_col'].unique()))
drug_name = set(drug_name)
Drug = pd.read_csv("Drug_MorganFingerprint.csv")
Drug = Drug.drop(columns=Drug.columns[0])
Drug = Drug.loc[(Drug['Unnamed: 0'].isin(drug_name))]
Drug.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308
0,5-Fluorouracil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,etoposide,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,mitomycin C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,391210-10-9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7-Ethyl-10-hydroxycamptothecin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [26]:
cell_name = ONEIL['DepMap_ID'].unique()
cell_name = set(cell_name)
Cell = pd.read_csv("Cell_Expression.csv")
Cell = Cell.drop(labels=['id'],axis=1)
Cell = Cell.loc[(Cell['Unnamed: 0'].isin(cell_name))]
Cell.head()

,FUCA2 (2519),GCLC (2729),STPG1 (90529),CYP26B1 (56603),NDUFAB1 (4706),ABCB5 (340273),DVL2 (1856),HOXA11 (3207),COPZ2 (51226),CREBBP (1387),...,ATXN7L3B (552889),PRKDC (5591),PBOV1 (59351),OR13A1 (79290),ZNF253 (56242),INAFM1 (255783),MRPL46 (26589),OR1D5 (653166),MYH4 (4622),Unnamed: 0
0,0.994103,1.054271,0.231815,-0.431478,1.099985,-0.267491,-0.419410,0.831251,-0.245518,1.233654,...,-0.109636,1.485804,-0.361944,-0.176036,-0.068324,0.313805,0.015054,-0.113875,-0.139273,ACH-000421
1,0.630420,-0.378710,0.520411,1.698184,2.050040,-0.251836,0.223380,-0.098226,0.652758,0.282951,...,-0.185818,0.513079,-0.361944,-0.256366,-0.091841,0.968837,0.724408,-0.113875,-0.139273,ACH-000035
2,0.479844,-0.598959,0.376585,-0.281314,0.952708,3.461669,0.520581,0.093562,1.342471,1.747246,...,0.353933,0.573890,-0.361944,-0.229325,-0.186053,-0.052045,1.023760,-0.113875,-0.139273,ACH-000322
3,0.132853,0.386435,0.352929,-0.854306,0.845208,-0.267491,-0.906464,2.916524,-0.959258,0.240047,...,0.577029,0.353956,0.779491,0.306228,-0.607047,0.496144,0.624128,-0.113875,-0.057906,ACH-000552
4,0.495884,1.100281,0.259792,1.446457,1.133829,-0.251836,0.644287,1.334840,-1.260119,0.558744,...,-0.354425,1.396615,-0.361944,-0.256366,-1.649981,-0.825381,1.565499,-0.113875,-0.139273,ACH-000971

In [27]:
synergy_data = ONEIL[['drug_row','drug_col','DepMap_ID','synergy_loewe']].copy()
synergy_data = synergy_data.loc[(synergy_data['DepMap_ID'].isin(Cell['Unnamed: 0']))]

In [28]:
Drug_map = dict((v, i) for i,v in enumerate(Drug['Unnamed: 0']))
Drug_id = Drug.replace({'Unnamed: 0':Drug_map})
Drug_id.rename(columns={'Unnamed: 0':'id'}, inplace = True)
Drug_id.set_index('id', inplace=True)
Drug_id.to_csv('./Preprocessed/cls/Drug_use.csv')
Drug_id.to_csv('./Preprocessed/reg/Drug_use.csv')
np.save('./Preprocessed/cls/Drug_map.npy', Drug_map)
np.save('./Preprocessed/reg/Drug_map.npy', Drug_map)
Drug_id.head()

,0,1,2,3,4,5,6,7,8,9,...,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [29]:
Cell_map = dict((v, i) for i,v in enumerate(Cell['Unnamed: 0']))
Cell_id = Cell.replace({'Unnamed: 0':Cell_map})
Cell_id.rename(columns={'Unnamed: 0':'id'}, inplace = True)
Cell_id.set_index('id', inplace=True)
Cell_id.to_csv('./Preprocessed/cls/Cell_use.csv')
Cell_id.to_csv('./Preprocessed/reg/Cell_use.csv')
np.save('./Preprocessed/cls/Cell_map.npy', Cell_map)
np.save('./Preprocessed/reg/Cell_map.npy', Cell_map)
Cell_id.head()

,FUCA2 (2519),GCLC (2729),STPG1 (90529),CYP26B1 (56603),NDUFAB1 (4706),ABCB5 (340273),DVL2 (1856),HOXA11 (3207),COPZ2 (51226),CREBBP (1387),...,ZNF345 (25850),ATXN7L3B (552889),PRKDC (5591),PBOV1 (59351),OR13A1 (79290),ZNF253 (56242),INAFM1 (255783),MRPL46 (26589),OR1D5 (653166),MYH4 (4622)
id,,,,,,,,,,,,,,,,,,,,,
0,0.994103,1.054271,0.231815,-0.431478,1.099985,-0.267491,-0.419410,0.831251,-0.245518,1.233654,...,-1.676435,-0.109636,1.485804,-0.361944,-0.176036,-0.068324,0.313805,0.015054,-0.113875,-0.139273
1,0.630420,-0.378710,0.520411,1.698184,2.050040,-0.251836,0.223380,-0.098226,0.652758,0.282951,...,0.525398,-0.185818,0.513079,-0.361944,-0.256366,-0.091841,0.968837,0.724408,-0.113875,-0.139273
2,0.479844,-0.598959,0.376585,-0.281314,0.952708,3.461669,0.520581,0.093562,1.342471,1.747246,...,-0.492104,0.353933,0.573890,-0.361944,-0.229325,-0.186053,-0.052045,1.023760,-0.113875,-0.139273
3,0.132853,0.386435,0.352929,-0.854306,0.845208,-0.267491,-0.906464,2.916524,-0.959258,0.240047,...,-1.291177,0.577029,0.353956,0.779491,0.306228,-0.607047,0.496144,0.624128,-0.113875,-0.057906
4,0.495884,1.100281,0.259792,1.446457,1.133829,-0.251836,0.644287,1.334840,-1.260119,0.558744,...,-1.645593,-0.354425,1.396615,-0.361944,-0.256366,-1.649981,-0.825381,1.565499,-0.113875,-0.139273

In [30]:
synergy_data_id = synergy_data.replace({'DepMap_ID':Cell_map})
synergy_data_id = synergy_data_id.replace({'drug_row':Drug_map})
synergy_data_id = synergy_data_id.replace({'drug_col':Drug_map})
synergy_data_id

       drug_row  drug_col  DepMap_ID  synergy_loewe
0             0        19         13      -9.013762
1             0         8         13      -7.869691
2             0        10         13       7.757410
3             0        20         13      -9.581096
4             0        23         13       9.637715
...         ...       ...        ...            ...
12028         6        37         14       5.709532
12029         6         4         14       4.719897
12030         6        14         14       4.497516
12031         6         7         14     -17.769911
12032         6        21         14       3.665954

[12033 rows x 4 columns]

In [31]:
synergy_data_id.to_csv('Synergy_ONeil_int.csv')